---
layout: frontpage
---
{% assign categories = site.data.categories %}
{% assign last_column = 0 %}
{% for cat in categories %}
  {% if cat.column != last_column %}{% if last_column != 0 %}</section>{% endif %}
<section class="col{{ cat.column }}">
    {% assign last_column = cat.column %}
  {% endif %}
    <article>
      <h1>{{ cat.title }}</h1>
  {% assign entries = site.data.entries | where:"cat_id",cat.id %}
      <ul>
  {% for entry in entries %}
        <li>
          <h2>{{ entry.title | markdownify  }}</h2>
          <em>by {{ entry.attribution | markdownify }}</em>
          <p>{{ entry.description | markdownify }}</p>
        </li>
  {% endfor %}
      </ul>
    </article>
{% endfor %}
</section>
